/* Application */
@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700');
@import url('https://fonts.googleapis.com/css?family=Supermercado+One');

body {
  min-width: 300px;
  font-family: 'Lato', sans-serif;
  background-color: rgb(241, 245, 244);
}

/* Utility */
.hide {
  display: none;
}

/* Login */
#logo {
  margin-top: 5vw;
  width: 75px;
}

.login-page {
  text-align: center;
}

#line {
  width: 35vw;
  margin: 1.5em auto;
}

#title {
  font-size: 3em;
  text-align: center;
  font-family: 'Supermercado One', cursive;
}

#description {
  font-size: .7em;
  font-style: italic;
  text-align: center;
  margin-top: 1vw;
}

.login {
  margin-top: 30px;
}

.auth-input {
  width: 250px;
  margin-top: 10px;
  padding: 5px;
  font-size: .8em;
  margin-right: 1vw;
  border-radius: 2px;
}

input:focus {
  outline: 0;
}

.submit {
  border-radius: 2px;
  text-decoration: none;
  margin: 10px 0;
  width: 80px;
  background-color: rgb(139, 236, 118);
  padding: 5px;
  font-size: 1em;
}

.submit:hover {
  background-color: rgb(167, 228, 154);
  border-radius: 2px;
}

.submit:focus {
  outline: 0;
}

.submit-sign-up {
  border-radius: 2px;
  text-decoration: none;
  margin-top: 10px;
  width: 80px;
  background-color: rgb(149, 167, 145);
  padding: 5px;
  font-size: 1em;
}

.submit-sign-up:hover {
  background-color: rgb(156, 172, 152);
  border-radius: 2px;
}

.submit-sign-up:focus {
  outline: 0;
}

#registration-form {
  margin-top: 50px;
}

#registration-text {
  margin-bottom: 1em;
  padding-left: 1.8em;
  padding-right: 1.8em;
}


#register {
  position:absolute;
  top:5vw;
  right: 18vw;
  font-size: .8em;
  margin-top: .2vw;
  background-color: rgb(249, 174, 174);
  border-radius: 2px;
  text-decoration: none;
}

#register:hover {
  background-color: rgb(247, 200, 200);
  border-radius: 2px;
}

#register:focus {
  outline: 0;
}

#forgot {
  font-size: .5em;
  display: block;
  text-decoration: none;
}

/* Portfolio */

#logout {
  border-radius: 2px;
  text-decoration: none;
  margin-top: .2vw;
  background: rgb(228, 224, 224);
}

#logout:hover {
  background: rgb(210, 223, 236);
}

#logout:focus {
  outline: 0;
}

.header-navigate {
  margin-left: 50px;
}

#refresh {
  margin-left: 40px;
  text-decoration: underline;
}

.coinsBox {
  display:grid;
  grid-template-columns: minmax(200px, 500px);
  grid-row-gap: .5em;
  grid-auto-rows: minmax(50px, auto);
  margin-top: 1em;
  justify-content: center;
}

.coinBox {
  border: solid rgba(36, 26, 26, 0.166) 1px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: repeat(2, 1fr);
  border-radius: 4px;
}

div.coinsBox > div:nth-of-type(odd) {
  background: #e9e5d5;
}

div.coinsBox > div:nth-of-type(odd) {
  background: #e9f1e5;
}

#coinHeaderBox {
  display: grid;
  border: solid rgba(36, 26, 26, 0.166) 1px;
  background-color: silver;
  border-radius: 4px;
  grid-template-columns: repeat(2, 1fr);
}

#total {
  margin-top: .8em;
  margin-right: 1.4em;
  justify-self: end;
  grid-column-start: 1;
  grid-column-end: 3;
  margin-bottom: 1em;
}

#header-name {
  margin-left: 1em;
  margin-bottom: .4em;
  text-decoration: underline;
}

#header-amount {
  justify-self: end;
  margin-right: 1.4em;
  margin-bottom: .4em;
  text-decoration: underline;
}

.coinName {
  font-size: 2em;
  margin-left: .5em;
  margin-top: .5em;
}

.amount {
  font-size: 2.5em;
  justify-self: end;
  margin-right: .5em;
  margin-top: .4em;
}

.ticker {
  margin-left: 1.1em;
  margin-top: -.2em;
}

.amountInBTC {
  justify-self: end;
  margin-right: 1.4em;
  margin-bottom: 1.4em;
}


/* Settings */

#settings-images {
  display: grid;
  grid-template-columns: minmax(200px, 500px);
  grid-row-gap: 1.8em;
  grid-auto-rows: 50px;
  margin-top: 2em;
}

.logo-img {
  max-width: 80%;
  max-height: 80%; 
  margin: 0 auto;
}

.app {
  margin: 0 auto;
  position: relative;
  min-width: 300px;
  max-width: 500px;
  display: block;
  height: 100vh;
}
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0, 0.5);
}

.popup_inner {
  position: relative;
  display: grid;
  grid-template-columns: 100%;
  padding: 40px;
  width: 300px;
  background: white;
  border-radius: 5px;
}

#close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
}

#popup-directions {
  text-align: center;
  margin-bottom: 5px;
}

.popup-input {
  height: 26px;
  margin: 5px 0;
  padding: 0 5px;
  border: 1px solid #dfdfdf;
}
